process {
    errorStrategy = 'finish'
}

profiles{
    standard {
        process {
            executor = 'awsbatch'
            withLabel: 'io_limited' {
                cpus = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_medium' {
                cpus = { 4 * task.attempt }
                memory = { 30.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_veryhigh' {
                cpus = { 16 * task.attempt }
                memory = { 120.GB * task.attempt }
                maxRetries = 3
            }
        }
    }

    testing {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 1
                memory = 6.GB
            }
        }
    }
}

params {

    // Set default parameters
    help = false
    output_folder = false
    output_prefix = false
    genomes = "${projectDir}/templates/empty.manifest.csv"
    genomes_local = "${projectDir}/templates/empty.manifest.csv"
    operon = false
    operon_list = false
    min_identity = 90
    min_coverage = 50
    max_operon_gap = 10000
    batchsize = 100
    ftp_threads = 100
    max_evalue = 0.001
    annotations = false
    annotation_window = 10000
    cluster_identity = 80
    cluster_coverage = 50
    mashtree = false

    // Docker containers reused across processes
    container__biopython = "quay.io/fhcrc-microbiome/biopython-pandas:latest"
    container__blast = "quay.io/fhcrc-microbiome/blast:latest"
    container__clinker = "quay.io/fhcrc-microbiome/clinker:v0.0.16--1"
    container__mashtree = "quay.io/hdc-workflows/mashtree:1.2.0"
    container__mmseqs = "quay.io/fhcrc-microbiome/mmseqs2:version-12"
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:v1.0.3"
    container__plotting = "quay.io/fhcrc-microbiome/boffo-plotting:latest"

}